<!DOCTYPE html>

<head>
    <%- include('../head'); %>
</head>

<body>

    <header>
        <%- include('../navbar'); %>
    </header>

    <main class="container pb-5">
        <h1> Création d'un article</h1>
          <form action="" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Titre de l'article</label>
                <input type="text" name="titre" placeholder="titre">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Votre nom</label>
                <input type="text" name="nomauteur" placeholder="nomauteur">
            </div>
            <div class="mb-3 form-check">
                <label for="exampleInputEmail1" class="form-label">Votre article</label>
                <textarea id="contenu" name="contenu" placeholder="Contenu"
                rows="5" cols="33"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </form>
    </main>

    <footer>
        <%- include('../footer'); %>
    </footer>

</body>

</html>