<!DOCTYPE html>

<head>
    <%- include('../head'); %>
</head>

<body>
s
    <header>
        <%- include('../navbar'); %>
    </header>

    <main class="container pb-5">
        <h1> L'article est en ligne !!</h1>
    </main>

    <footer>
        <%- include('../footer'); %>
    </footer>

</body>

</html>