<!DOCTYPE html>

<head>
    <%- include('../head'); %>
</head>

<body>

    <header>
        <%- include('../navbar'); %>
    </header>

    <main class="container pb-5">
        <!-- Completer la page Index -->
        <h1 class="text-center">Articles</h1>
        <% articles.forEach(function(article) { %>
            <h1><%= article.title %></h1>
            <a href="<%= "articles/" + article.id + "/" + article.route %>">Voir le contenu</a>
            <% }); %>

    </main>

    <footer>
        <%- include('../footer'); %>
    </footer>

</body>

</html>