<!DOCTYPE html>

<head>
    <%- include('../head'); %>
</head>

<body>

    <header>
        <%- include('../navbar'); %>
    </header>

    <main class="container pb-5">
        <img src="<%= article.thumbnail_url %>" />
        <!-- Completer la page Index -->
        <h1 class="text-center"><%= article.title %></h1>

        <p><%= article.content %></p>
    </main>

    <footer>
        <%- include('../footer'); %>
    </footer>

</body>

</html>