<!DOCTYPE html>

<head>
    <%- include('../head'); %>
</head>

<body>

    <header>
        <%- include('../navbar'); %>
    </header>

    <main class="container pb-5">
        <!-- Completer la page Index -->
        <h1 class="text-center">Accueil</h1>
        <p></p>

        <div class="container">
            <div class="row">
              <div class="col-sm">
                <p>Adresse:</p>
                <p>34 rue de la gauffre</p>
                <p>31650 TOULOUSE</p>
              </div>
              <div class="col-sm">
            
              </div>
              <div class="col-sm">
                <p>Horaires:</p>
                <p>Lundi: 8h - 17h30</p>
              </div>
            </div>
          </div>
    </main>

    <footer>
        <%- include('../footer'); %>
    </footer>

</body>

</html>
